:root {
 --primary1 : #354259;
 --primary2 : #CDC2AE;
 --primary3 : #ECE5C7;
 --primary4 : #C2DED1;
 --primary5 : #2D5C7F;
 --primary6 : #D5848C;
 --primary7 : #184C7A;
 --primary8 : #BD2939;
 --primary9 : #E3E8EF;
 --primary10 : #2c698d;
}

.hide{
display:none;
}

.btn-input{
    background-color: var(--primary9);
    opacity: 70%;
    /* color :red; */
    color:var(--primary7);
    font-weight:bold;
    margin: 5px;
}

.title{
background-color: var(--primary9);
}
.title h3{
color:var(--primary8);
}

.head{
    color:var(--primary10);
}

/* #contractNo{
margin-bottom: 20px;
max-width: 50%;
margin-left:25%;
align-self: center;
justify-content: center;
} */
.nav-link.active{
    color: var(--primar10)!important;
    background-color: var(--primary9)!important;
}

/* #contractNo::before{
content:"ContractNo.";
font-size:140px;
top:100px;
left:100px;
color:#BD2939;

} */